<footer class="footer">
    <div class="footer-inner">
        <div class="footer-block">
            <span class="footer-title">Contato</span>
            <div class="mail-footer">
                <a href="mailto:linaldi@linaldi.com">linaldi@linaldi.com</a>
            </div>

            <span class="footer-title" style="margin-top:15px;">Telefones</span>
            <p>+55 (11) 5615-3799</p>
            <p>+55 (11) 98761-8759</p>
            <p>+55 (11) 91184-6476</p>
        </div>

        <div class="footer-line"></div>

        <div class="footer-block footer-center">
            <img src="/img/logo-linaldi.png" class="footer-logo" alt="Logo Linaldi" />
            <p>
                Rua Dilermando Reis, 223–225 – Térreo<br />
                Jd. Ubirajara – CEP 04458-030<br />
                São Paulo – SP
            </p>
        </div>

        <div class="footer-line"></div>

        <div class="footer-block footer-social">
            <span class="footer-title">Redes Sociais</span>

            <div class="social-icons">
                <a href="https://www.instagram.com/linaldioficial/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">Instagram</a>
                <a href="https://www.youtube.com/@Linaldioficial" target="_blank" rel="noopener noreferrer" aria-label="YouTube">YouTube</a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        © 2026 Linaldi – Todos os direitos reservados
    </div>
</footer>